<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add a Job</title>
    </head>

    <body>

        <h1>Create a job listing</h1>

        <form th:action="@{/job}" method="POST" th:object="${job}">

            <label for="title">Job Title:</label>
            <input id="title" th:field="*{title}"/>

            <label for="company-name">Company Name:</label>
            <input id="company-name" th:field="*{companyName}"/>


            <label for="industry">Industry:</label>
            <input id="industry" th:field="*{industry}"/>

            <label for="location">Job Location:</label>
            <input id="location" th:field="*{location}"/>

            <!--<label for="job-type">Job Type:</label>-->
            <!--<input id="job-type" th:field="*{jobType}"/>-->


            <label for="job-description">Job Description:</label>
            <input id="job-description" th:field="*{jobDescription}"/>

            <label for="responsibilities">Key Responsibilities:</label>
            <input id="responsibilities" th:field="*{responsibilities}"/>

            <label for="basic-qualifications">Basic Qualifications:</label>
            <input id="basic-qualifications" th:field="*{basicQualifications}"/>

            <label for="about-us">About Us:</label>
            <input id="about-us" th:field="*{aboutUs}"/>


            <input value="Submit" type="submit"/>

        </form>
    </body>
</html>