<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>

    <body>
    <div sec:authorize="hasRole('ROLE_EMPLOYER')">
        <p th:text="*{job.title}"></p>
        <p th:text="*{job.aboutUs}"></p>
        <p th:text="*{job.industry}"></p>
    </div>

    <div sec:authorize="hasRole('ROLE_INTERN')">
        intern
    </div>

    <h1>Create a job profile:</h1>
    <form th:action="@{/jobs/id}" method="POST" th:object="${job}">

        <label for="id">Job id:</label>
        <input id="id" th:field="*{id}"/>

        <label for="title">Job title:</label>
        <input id="title" th:field="*{title}"/>

        <label for="companyName">Company name:</label>
        <input id="companyName" th:field="*{companyName}"/>

        <label for="industry">Industry:</label>
        <input id="industry" th:field="*{industry}"/>

        <label for="location">Location:</label>
        <input id="location" th:field="*{location}"/>

        <label for="jobDescription">Job description:</label>
        <input id="jobDescription" th:field="*{jobDescription}"/>

        <label for="basicQualifications">Basic qualifications:</label>
        <input id="basicQualifications" th:field="*{basicQualifications}"/>

        <label for="aboutUs">About us:</label>
        <input id="aboutUs" th:field="*{aboutUs}"/>

        <label for="employerProfile">Employer profile:</label>
        <input id="employerProfile" th:field="*{employerProfile}"/>




    </form>
    </body>
</html>
