<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head th:replace="fragments/head :: head('Job!')" />
    <div class="container">

    <body>
        <span hidden="hidden" id="job-id" th:text="${job.getId()}"></span>
        <h3 th:text="${job.getTitle()}"></h3>
        <div id="show-form">
        <div sec:authorize="hasRole('ROLE_INTERN')" id="job-apply-div" th:switch="${userHasApplied}">
            <div th:case="false">
            <button id="apply" class="waves-effect waves-light light-blue btn">Apply to job</button>
            </div>
            <div th:case="true">
            <p>Your application has been submitted.</p>
            </div>
        </div>
        <div sec:authorize="hasRole('ROLE_EMPLOYER')" id="edit-job-div" th:switch="${userOwnsJob}">
            <div th:case="false">
            </div>
            <div th:case="true">
                <button id="edit-job" class="waves-effect waves-light btn">Edit</button>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <label for="company-name-text">Company Name:</label>
                <p id="company-name-text" th:text="${job.getCompanyName()}"></p>
            </div>
            <div class="col s6">
                <label for="location-text">Location:</label>
                <p id="location-text" th:text="${job.getLocation()}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <label for="industry-text">Industry:</label>
                <p id="industry-text" th:text="${job.getIndustry()}"></p>
            </div>
            <div class="col s6">
                <label for="about-us-text">About Us:</label>
                <p id="about-us-text" th:text="${job.getAboutUs()}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="qualifications-text">Basic Qualifications:</label>
                <p id="qualifications-text" th:text="${job.getBasicQualifications()}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="responsibilities-text">Job Responsibilities:</label>
                <p id="responsibilities-text" th:text="${job.getResponsibilities()}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="description-text">Job Description:</label>
                <p id="description-text" th:text="${job.getJobDescription()}"></p>
            </div>
        </div>
        </div>


        <div id="edit-form">
        <div sec:authorize="hasRole('ROLE_EMPLOYER')">
        <form class="col s12" th:action="@{/profile}" method="POST" th:object="${job}">

            <div class="row">
                <div class="input-field col s6">
                    <label for="company-name" class="active">Name:</label>
                    <input id="company-name" type="text" placeholder="Company name" th:field="*{companyName}" />
                </div>
                <div class="input-field col s6">
                    <label for="location" class="active">Supervisor:</label>
                    <input id="location" type="text" placeholder="Location" th:field="*{location}" />
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <label for="industry" class="active">Industry:</label>
                    <input id="industry" type="text" placeholder="Industry" th:field="*{industry}" />
                </div>
                <div class="input-field col s6">
                    <label for="about-us" class="active">About us</label>
                    <input id="about-us" type="text" placeholder="About us" th:field="*{aboutUs}" />
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="qualifications" class="active">Qualifications:</label>
                    <textarea placeholder="Qualifications" type="text" class="materialize-textarea" id="qualifications" th:field="*{basicQualifications}" />
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="responsibilities" class="active">Responsibilities:</label>
                    <textarea placeholder="Job Responsibilities" type="text" class="materialize-textarea" id="responsibilities" th:field="*{responsibilities}" />
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="description" class="active">Company description:</label>
                    <textarea placeholder="Job description" type="text" class="materialize-textarea" id="description" th:field="*{jobDescription}" />
                </div>
            </div>

            <button class="waves-effect waves-light light-blue btn" id="save-job">Save</button>
        </form>
        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script>

        (function() {

            "use script";

            let jobId = document.querySelector("#job-id").innerText;
            let username = document.querySelector("#username").innerText;

            //Employer patch request fields
            let companyName = null;
            let location = null;
            let responsibilities = null;
            let description = null;
            let qualifications = null;
            let industry = 0;
            let aboutUs = null;

            $('#edit-form').hide();
            $('#show-form').show();

            if (document.querySelector("#apply") != null) {
                document.querySelector("#apply").addEventListener('click', allowUserToApplyToJob);
            }
            if (document.querySelector("#save-job") != null) {
                document.querySelector("#save-job").addEventListener('click', saveEditedJob);
            }

            $('#edit-job').click(function(event) {
                event.preventDefault();
                $('#show-form').hide();
                $('#edit-form').show();
            });

            function allowUserToApplyToJob() {
                fetch('/api/v1/' + username + /add/ + jobId).then(response => {
                    response.json().then(data => {
                        console.log(data);
                    })
                });
                changeJobAppliedDiv();
            }

            function saveEditedJob(event) {
                event.preventDefault();
                setVarsForPatchRequest();
                fetch('/api/v1/' + username + '/employer/edit/' + jobId, {
                    method: 'PATCH',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        "companyName": companyName,
                        "location": location,
                        "responsibilities": responsibilities,
                        "jobDescription": description,
                        "basicQualifications": qualifications,
                        "industry": industry,
                        "aboutUs": aboutUs
                    })
                }).then((response) => response.json())
                    .then((data) => {
                        setJobFields(data);
                    });
                $('#edit-form').hide();
                $('#show-form').show();
            }

            function setJobFields(data) {
                document.querySelector("#company-name-text").innerText = data.companyName;
                document.querySelector("#location-text").innerText = data.location;
                document.querySelector("#responsibilities-text").innerText = data.responsibilities;
                document.querySelector("#industry-text").innerText = data.industry;
                document.querySelector("#location-text").innerText = data.location;
                document.querySelector("#qualifications-text").innerText = data.basicQualifications;
                document.querySelector("#description-text").innerText = data.jobDescription;
            }

            function changeJobAppliedDiv() {
                document.querySelector("#job-apply-div").innerHTML = "Your application has been submitted."
            }

            function setVarsForPatchRequest() {
                companyName = document.querySelector("#company-name").value;
                location = document.querySelector("#location").value;
                responsibilities = document.querySelector("#responsibilities").value;
                description = document.querySelector("#description").value;
                qualifications = document.querySelector("#qualifications").value;
                industry = document.querySelector("#industry").value;
                aboutUs = document.querySelector("#about-us").value;
            }

        })();

    </script>
        <footer th:replace="fragments/footer"></footer>
    </body>
    </div>

</html>
