<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head('View Jobs')"></head>

<body>
<div class="container">
    <div th:each="job: ${searchedJobs}">
        <div>
            <h4 th:text="${job.title}"></h4>
            <hr />
            <p>Company: <span th:text="${job.getCompanyName()}"></span></p>
            <p>Description: <span th:text="${job.getJobDescription()}"></span></p>
            <a th:href="@{'/jobs/' + ${job.getId()}}">View Full Post</a>
            <hr />
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>