    <head th:replace="fragments/head :: head('Welcome!')" />
    <body>

        <div class="container content">
            <h3 class="center-align">Create a job listing</h3>
        <div class="row">
            <form  class="col s12" th:action="@{/employers/add-job}" method="POST" th:object="${job}">
                <div class="row">
                    <div class="input-field col s12">
                        <label class="active" for="title">Job Title:</label>
                        <input id="title" th:field="*{title}"/>
                     </div>

                    <div class="input-field col s12">
                        <label for="company-name" class="active">Company Name:</label>
                        <input id="company-name" th:field="*{companyName}"/>
                    </div>

                    <div class="input-field col s12 m6">
                        <label for="about-us" class="active">About Us:</label>
                        <input id="about-us" th:field="*{aboutUs}"/>
                    </div>

                    <div class="input-field col s12 m6">
                        <label for="location" class="active">Job Location:</label>
                        <input id="location" th:field="*{location}"/>
                    </div>

                    <div class="input-field col s12 m6">
                        <label for="responsibilities" class="active">Key Responsibilities:</label>
                        <input id="responsibilities" th:field="*{responsibilities}"/>
                    </div>

                    <div class="input-field col s12 m6">
                        <label for="basic-qualifications" class="active">Basic Qualifications:</label>
                        <input id="basic-qualifications" th:field="*{basicQualifications}"/>
                    </div>

                    <div class="input-field col s12">
                        <label for="job-description" class="active">Job Description:</label>
                        <textarea id="job-description" th:field="*{jobDescription}" class="materialize-textarea"></textarea>
                    </div>

                    <div class="input-field col s12">
                        <select id="industry" th:field="*{industry}">
                            <option value="99" selected="selected">Choose Related Industry
                            </option>
                            <option value="1">Business, Management, &amp; Administration
                            </option>
                            <option value="2">Criminal Justice
                            </option>
                            <option value="3">Education &amp; Training
                            </option>
                            <option value="4">Engineering
                            </option>
                            <option value="5">Finance
                            </option>
                            <option value="6">Government &amp; Public Administration
                            </option>
                            <option value="7">Hospitality &amp; Tourism
                            </option>
                            <option value="8">Healthcare
                            </option>
                            <option value="9">Human Services
                            </option>
                            <option value="10">Information Technologies
                            </option>
                            <option value="11">Law, Public Safety, Corrections, &amp; Security
                            </option>
                            <option value="12">Manufacturing
                            </option>
                            <option value="13">Marketing
                            </option>
                            <option value="14">Public Relations
                            </option>
                            <option value="15">Science &amp; Research
                            </option>
                            <option value="16">Other
                            </option>
                        </select>
                        <label>Choose Industry</label>
                    </div>



                    <button class="waves-effect waves-light light-blue btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
        </div>
        <footer th:replace="fragments/footer"></footer>

    </body>
