<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Sign-Up')" />
<body>
<h1>Create an account</h1>
<form th:action="@{/employers/profile}" method="POST" th:object="${employer}">

    <label for="name">Company name:</label>
    <input id="name" th:field="*{name}" />

    <label for="supervisor">Point of contact's name:</label>
    <input id="supervisor" th:field="*{supervisor}" />

    <label for="email">Point of contact's email:</label>
    <input id="email" th:field="*{email}" />

    <div class="input-field">
        <select th:field="*{industry}">
            <option value="1">Business, Management &amp; Administration</option>
            <option value="2">Criminal Justice</option>
            <option value="3">Education &amp; Training</option>
            <option value="4">Engineering</option>
            <option value="5">Finance</option>
            <option value="6">Government &amp; Public Administration</option>
            <option value="7">Hospitality &amp; Tourism</option>
            <option value="8">Healthcare</option>
            <option value="9">Human Services</option>
            <option value="10">Information Technologies</option>
            <option value="11">Law, Public Safety, Corrections, &amp; Security</option>
            <option value="12">Manufacturing</option>
            <option value="13">Marketing</option>
            <option value="14">Public Relations</option>
            <option value="15">Science &amp; Research</option>
            <option value="16">Other</option>
            <label>Choose Industry</label>
        </select>
    </div>

    <label for="location">Company location:</label>
    <input id="location" th:field="*{location}" />

    <label for="website-url">Website URL:</label>
    <input id="website-url" th:field="*{websiteUrl}" />

    <label for="description">Company description:</label>
    <input id="description" th:field="*{description}" />

    <input value="Create company profile!" type="submit" />
</form>
</body>
<footer th:replace="fragments/footer"></footer>
</html>
