<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Dashboard')" />

	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>

	<body>
		<div th:each="intern: ${allInternProfiles}">
			<div class="row">

				<div class="col l3">
					<h5> <span th:text="${intern.getFirst_name()}" /> <span th:text="${intern.getLast_name()}" /> </h5>
					<hr />
				</div>
				<button class="waves-effect waves-light light-blue btn"
				   th:href="@{'/admin/applicant/' + ${intern.getId()}}">View Full Profile</button>

			</div>
		</div>
	<footer th:replace="fragments/footer"></footer>

	</body>

</html>