	<head th:replace="fragments/head :: head('Sign-Up')" />


	<body>

	<div class="container content">
		<h3>Admin Registration</h3>

		<form th:action="@{/admin/register}" method="POST" th:object="${user}">
			<label for="username">Username</label>
			<input id="username" th:field="*{username}" />

			<label for="email">Email</label>
			<input id="email" th:field="*{email}" />

			<label for="password">Password</label>
			<input id="password" type="password" th:field="*{password}" />

			<button class="waves-effect waves-light light-blue btn" type="submit">Sign Up</button>
		</form>
	</div>

	<footer th:replace="fragments/footer"></footer>
	</body>
</html>