<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Sign up</title>
</head>
<body>
<h1>Create an account</h1>
<form th:action="@{/interns/profile}" method="POST" th:object="${internProfile}">
	<label for="firstName">First name:</label>
	<input id="firstName" th:field="*{first_name}" />

	<label for="lastName">Last name:</label>
	<input id="lastName" th:field="*{last_name}" />

	<label for="major">Industry:</label>
	<input id="major" th:field="*{major}" />

	<label for="minor">Company location:</label>
	<input id="minor" th:field="*{minor}" />

	<label for="field1">Primary field:</label>
	<input id="field1" th:field="*{field_1}" />

	<label for="field2">Secondary field:</label>
	<input id="field2" th:field="*{field_2}" />

	<label for="field3">Third field:</label>
	<input id="field3" th:field="*{field_3}" />

	<label for="transcript">Upload transcript:</label>
	<input id="transcript" th:field="*{transcript_link}" />

	<label for="essay">Upload essay:</label>
	<input id="essay" th:field="*{essay_link}" />

	<label for="sa_highschool">Did you attend high-school in San Antonio?</label>
	<input id="sa_highschool" th:field="*{sa_highschool}" />







	<input value="Create intern profile!" type="submit" />
</form>
</body>
</html>