<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="fragments/head :: head('Sign-Up')" />

	<body>
		<div class="container">
			<h1>Intern Registration</h1>
			<form th:action="@{/interns/register}" method="POST" th:object="${user}">
				<label for="username">Username</label>
				<input id="username" th:field="*{username}" />

				<label for="email">Email</label>
				<input id="email" th:field="*{email}" />

				<label for="password">Password</label>
				<input id="password" type="password" th:field="*{password}" />

				<input value="Sign me up!" type="submit" />
			</form>
		</div>
		<footer th:replace="fragments/footer"></footer>
	</body>
</html>