

		<th:block th:fragment="footer">

			<footer class="footer page-footer blue">
				<div class="container">
					<div class="row">
						<div class="col l6 s12">
							<h5 class="white-text">InternHub.io</h5>
							<ul>
								<li>
									<a class="white-text" href="/about">About</a>
								</li>
								<li>
									<a class="white-text" th:href="@{admin/register}">Admin</a>
								</li>
							</ul>

						</div>
						<div class="col l4 offset-l2 s12">
							<h5 class="white-text">Connect with us!</h5>
							<ul>
								<li><img class="social-media" src="/../img/facebook.png" alt="Facebook-logo"/><a class="grey-text text-lighten-3"></a>
									<img class="social-media" src="/../img/instagram.png" alt="Instagram-logo"/><a class="grey-text text-lighten-3"></a>
									<img class="social-media" src="/../img/twitter.png" alt="Twitter-logo"/><a class="grey-text text-lighten-3"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright grey darken-4">
					<div class="container">
						 2019 InternHub
					</div>
				</div>
			</footer>

			<!-- Compiled and minified JavaScript for Materialize -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


			<script>
				document.addEventListener('DOMContentLoaded', function() {
					var elems = document.querySelectorAll('.sidenav');
					var instances = M.Sidenav.init(elems, {});
				});

				document.addEventListener('DOMContentLoaded', function() {
					var elems = document.querySelectorAll('select');
					var instances = M.FormSelect.init(elems, {});
				});

				document.addEventListener('DOMContentLoaded', function() {
					var elems = document.querySelectorAll('.slider');
					var instances = M.Slider.init(elems,{interval:5000}
					);
				});

				document.addEventListener('DOMContentLoaded', function(){
					var elems = document.querySelectorAll('.tabs');
					var instances = M.Tabs.init(elems, {}
					);
				});

			</script>

		</th:block>


