<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<th:block th:fragment="head(title)">
	<head>
		<meta charset="UTF-8" />
		<title th:text="'InternHub | ' + ${title}"></title>

		<!-- Compiled and minified CSS Materialize-->
		<link rel="stylesheet"
		      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />


		<!-- fixed Nav -->
		<nav>
			<div class="nav-wrapper">

				<!-- create FAQ, Sign-in, & Contact html pages -->
				<a href="#" class="brand-logo">Logo</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="internhub.io/faq.html">FAQ</a></li>
					<li><a href="internhub.io/interns.html">Interns</a></li>
					<li><a href="internhub.io/employers.html">Employers</a></li>
					<li><a href="internhub.io/contact.html">Contact</a></li>
				</ul>
			</div>
		</nav>

		<ul class="sidenav" id="mobile-demo">
			<li><a href="internhub.io/faq.html">FAQ</a></li>
			<li><a href="internhub.io/interns.html">Interns</a></li>
			<li><a href="internhub.io/employers.html">Employers</a></li>
			<li><a href="internhub.io/contact.html">Contact</a></li>
		</ul>



	</head>
</th:block>
</html>