<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<th:block th:fragment="head(title)">

		<head>
			<meta charset="UTF-8" />
			<!-- Compiled and minified CSS Materialize-->
			<link rel="stylesheet"
			      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
			<!--CUSTOM CSS-->
			<link rel="stylesheet" type="text/css" href="/css/main.css" />
			<!--ICON-->
            <link rel="shortcut icon" href="img/ih-favicon.png" type="image/x-icon" />


			<title th:text="'InternHub | ' + ${title}"></title>
			<!-- Nav bar -->
			<nav>
				<div class="nav-wrapper blue">
					<span sec:authorize="isAuthenticated()">
							<a href="/dashboard" class="brand-logo">InternHub</a>
					</span>
					<span sec:authorize="isAnonymous()"><a href="/" class="brand-logo">InternHub</a></span>
						<!-- Search in nav -->
					<ul class="right">
						<li sec:authorize="isAuthenticated()" style="display:none">
							User ID: <span th:text="${#authentication.principal.id}"></span>
						</li>
						<li sec:authorize="isAuthenticated()" style="display:none">
							Username: <span id="username" th:text="${#authentication.principal.username}"></span>
						</li>
						<!--<li sec:authorize="isAnonymous()"><a class="nav-links" href="/interns/register">Interns</a></li>-->
						<!--<li sec:authorize="isAnonymous()"><a class="nav-links" href="/employers/register">Employers</a></li>-->
						<li sec:authorize="hasRole('ROLE_INTERN')"><a class="nav-links" href="/profile">Profile</a></li>
						<li><a class="nav-links" href="/about">About</a></li>
						<li sec:authorize="isAuthenticated()"><a class="nav-links" href="/logout">Logout</a></li>
						<li sec:authorize="isAnonymous()"><a class="nav-links login-nav" href="/login">Login</a></li>
					</ul>

				<!-- Display current logged-in user -->

				</div>  <!--  /nav-wrapper -->
			</nav>

		</head>
	</th:block>
    <footer th:replace="fragments/footer"></footer>
</html>