<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"-->
    <th:block th:fragment="head(title)">

        <!-- dynamic nav -->
    <head th:replace="fragments/head :: head('about')">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/main.css" />
        <title>About</title>

        <!-- Compiled and minified CSS Materialize-->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    </head>
    <body>
        <a th:href="@{/about}"></a>
        <div class="about-us-wrapper">
            <div class="about-us-header">
                <h1>InternHub</h1>
                <div class="the-project">The Project</div>
                <div class="the-team">The Team</div>
            </div>

            <div class="description">
                <h4>What is InternHub?</h4>
                <p>InternHub is a modern talent-matching tool designed to make recruiting better.
                    It seeks to automate the San Antonio Ambassadors intern selection process, aggregating applicant responses
                    and allowing administrators to efficiently match candidates to employers based on skills and experience.
                    This technology improves the accuracy, cost, and speed of the hiring process for everyone involved.

                    Our project incorporates Spring Boot with Spring Security, Thymeleaf, Hibernate, and a MySQL database.
                </p>
            </div>

            <div class="message-wrapper the-team" id="the-team">
                <h1>The Team</h1>
                <div class="everyone-wrapper">

                    <div class="each-person-wrapper">
                        <h3>Cory Musick</h3>
                        <div class="each-person-img cory-img"></div>
                            <div class="each-person-description cory-description"></div>
                    </div>

                    <div class="each-person-wrapper">
                        <h3>Cerissa Antill</h3>
                        <div class="each-person-img cerissa-img"></div>
                        <div class="each-person-description cerissa-description"></div>
                    </div>

                    <div class="each-person-wrapper">
                        <h3>Mike Flores</h3>
                        <div class="each-person-img mike-img"></div>
                        <div class="each-person-description mike-description"></div>
                    </div>
                </div>
            </div>



        </div> <!-- /about-us-wrapper -->
    </body>


    <footer th:replace="fragments/footer"></footer>
    </th:block>
</html>