/*---------------- BODY CSS and VARIABLE DECLARATION -----------*/

    body {
        margin: 0 auto;
        padding: 0;
        font-family: 'Roboto', sans-serif;


    }
/*-------------------- INDEX (landing page)---------------------*/

    .intern-message {
        padding: 50px;
    }

    .employer-message {
        padding: 50px;
    }

    .circle-container {
        height: 175px;
        width: 175px;
        margin: 10px auto;
    }

    .circle-text {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 0;
        padding: 50% 0;
        border-radius: 50%;
        color: white;
        text-align: center;
        line-height: 0;
        font-size: larger;
}
    .circle-blue{
        background-color: #345777;
    }

    .circle-yellow{
        background-color: #F5CB09;
    }

    .circle-orange{
        background-color: #F7882F;
    }

    .button-label{
        margin: 0 auto;
}
    .slider-cap{
        position:absolute;
        z-index:10;
        width: 100%;
        text-align: center;
        top:125px;
        background-color: rgba(0, 0, 0, .5);
        color: white;
    }

    .index-img{
        padding-top: 30px;
    }

    .social-media {
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }








/*--------------------- REGISTRATION PAGES -----------------------*/










/*------------------------ LOGIN PAGE ----------------------------*/





/*------------------------ DASHBOARDS ----------------------------*/


.sidebar{
    height: calc(100vh - 64px);
    background-color: #345777;
}

.container-row{
    margin:0 0 0 0;
}

.dashboard_num{
    font-size: 10em;
}

.tabs .tab a{
    color:#01579b;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#e1f5fe;
    color:#0288d1;
} /*Text color on hover*/

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #e1f5fe;
    outline:none;
} /*Background and text color when a tab is active*/

.tabs .tab a.active {
    background-color:#e1f5fe;
    color:#0288d1;
}
.tabs .indicator {
    background-color:#01579b;
} /*Color of underline*/


/*--------------------------- FORMS ----------------------------*/








/*------------------------ HEADERS -----------------------------*/

    .nav-wrapper {
        @extend background-color: #00B0FF;
        font-size: 14px;

    }

    .navbar-user {
        margin-right: 100%;
    }

    .brand-logo{
        padding-left: 30px !important;
    }





/*------------------------- FOOTERS ----------------------------*/

    .footer {
        flex: auto;
        /*position: absolute;*/

    }









/*------------------------ ABOUT US ---------------------------*/


    .description {
        margin-left: 20%;
        margin-right: 20%;
    }

    .the-team {
        margin-top: 200px;
        width: 100%;
    }

    .the-team h1 {
        font-size: 45px;
        top: -31px;
        color: #F7882F
    }
    .everyone-wrapper {
        padding-top: 1px;
        /*color: -----;*/
    }
    .each-person-wrapper {
        width: 100%;
        margin: 80px auto;
        padding: 30px 0 40px;
    }

    .each-person-img {
        width: 20%;
        margin: auto;
        height: 20%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .each-person-desc {
        width: 80%;
        height: 150px;
        margin: 0 auto;
    }

    a.links {
        font-size: 2em;
    }




@media only screen and (min-width: 200px) {








    /*.cory-img {*/
        /*background-image: url("/static/img/Cory.jpg");*/
        /*!*display: inline-block;*!*/
    /*}*/

    /*.cerissa-img {*/
        /*background-image: url("/static/img/Cerissa.jpg");*/
        /*!*display: inline-block;*!*/
    /*}*/

    /*.mike-img {*/
        /*background-image: url("/static/img/Mike.jpg");*/
        /*!*display: inline-block;*!*/
    /*}*/


}


