

/*---------------- BODY CSS and VARIABLE DECLARATION -----------*/

    body {
        /*margin: 0 auto;*/
        /*padding: 0;*/
        font-family: 'Roboto', sans-serif;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .content{
     flex: 1 0 auto;
    }

    .footer{
      flex-shrink: 0;
    }




/*-------------------- INDEX (landing page)---------------------*/

    .intern-message {
        padding: 50px;
    }

    .employer-message {
        padding: 50px;
    }

    .circle-container {
        height: 175px;
        width: 175px;
        margin: 10px auto;
    }

    .circle-text {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 0;
        padding: 50% 0;
        border-radius: 50%;
        color: white;
        text-align: center;
        line-height: 0;
        font-size: 25px;
}
    .circle-blue {
        background-color: #345777;
    }

    .circle-yellow {
        background-color: #F5CB09;
    }

    .circle-orange {
        background-color: #F7882F;
    }

    .button-label {
        margin: 0 auto;
}
    .slider-cap {
        position:absolute;
        z-index:10;
        width: 100%;
        text-align: center;
        top:125px;
        background-color: rgba(0, 0, 0, .5);
        color: white;
    }

    .index-img {
        padding-top: 30px;
    }

    .social-media {
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }




/*--------------------- REGISTRATION PAGES -----------------------*/



/*------------------------ LOGIN PAGE ----------------------------*/



/*------------------------ DASHBOARDS ----------------------------*/


.sidebar {
    height: calc(100vh - 64px);
    background-color: #345777;
}

.container-row {
    margin:0 0 0 0;
}

.dashboard_num{
    font-size: 10em;
}

.tabs .tab a{
    color:#01579b;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#e1f5fe;
    color:#0288d1;
} /*Text color on hover*/

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #e1f5fe;
    outline:none;
} /*Background and text color when a tab is active*/

.slider{
    margin-top: 10px;
}

/*------------------------- FORMS ------------------------------*/

.tabs .tab a.active {
    background-color:#e1f5fe;
    color:#0288d1;
}
.tabs .indicator {
    background-color:#01579b;
} /*Color of underline*/







/*------------------------ HEADER / NAV BAR -----------------------------*/

    .nav-wrapper {
        @extend background-color: #00B0FF;
        font-size: 14px;

    }

    .navbar-user {
        margin-right: 100%;
    }

    .brand-logo {
        padding-left: 6% !important;
        /*font-size: 30px;*/

    }

    .nav-links {
        font-size: 18px;
        padding-right: 35px;
    }

    .login-nav {
        padding-right: 70px;
    }



/*------------------------- FOOTER ----------------------------*/

    .about-footer {
        margin-left: 10px;
        font-size: 1em;
    }


/*------------------------ ABOUT ---------------------------*/


    .what-is-internhub {
        font-size: 55px;
        color: #345777;
        top: -30px;
        text-align: center;
    }

    .description {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 1.5em;
    }

    .the-team {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
        /*margin-right: 5%;*/
        color: #345777;
    }

    .the-team h1{
        font-size: 55px;
        /*top: -60px;*/
        padding-top: 35px;
        color: #F7882F;
        text-align: center;
    }

    .everyone-wrapper {
        padding-top: 1px;
        margin: 0;

        /*align-content: center;*/
    }

    /*.row {*/
        /*display: flex;*/
    /*}*/

    /*.column {*/
        /*!*float: left;*!*/
        /*width: 33.33%;*/
        /*padding: 5px;*/
    /*}*/



    .each-person-wrapper {
        margin: 10px 10px;
        padding: 10px 10px;

    }


    /*.cory-wrapper {*/
        /*margin-left: 25%;*/
    /*}*/


    .profile-img {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
    }

    /* personal social links */
    a.links {
        font-size: 1em;
        padding-bottom: 5px;
    }

    .social-icons {
        width: 25px;
        height: 25px;
        margin-right: 7px;
    }

    /*.linkedin-icon {*/
        /*margin-top: 5px;*/
    /*}*/



@media only screen and (min-width: 200px) {


}


