<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"-->
<th:block th:fragment="head(title)">

    <!-- dynamic nav -->
    <head th:replace="fragments/head :: head('Error')" />

    <body>
    <div class="container content">
        <h1>UH OH!</h1>
        <p>It looks like you haven't submitted your profile or it's still under review. Complete your profile at <a href="/profile"> your profile page</a>
        or contact the administrator at admin@internhub.io.</p>
    </div>


    <footer th:replace="fragments/footer"></footer>
    </body>
</th:block>
</html>