  <head th:replace="fragments/head :: head('Welcome!')" xmlns:th="http://www.w3.org/1999/xhtml">

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>

  <body>
    <div class="container">
      <!-- Page Content goes here  -->
      <div class="slider">

        <ul class="slides z-depth-3">
          <li>
            <div class="slider-cap">
              <h3>Go from this...</h3>
            </div>
            <img src="/img/index_graduate.jpeg" />
          </li>
          <li>
            <div class="slider-cap">
              <h3>..to this!</h3>
            </div>
            <img src="/img/index_handshake.jpg" />
          </li>
          <li>
            <div class="slider-cap">
              <h3>Welcome to InternHub.io</h3>
            </div>
            <img src="/img/index_fist_bump.jpeg" />
          </li>
        </ul>

      </div>
      <div class="row">
        <div class="col s4">
            <div class="circle-container">
              <a href="#interns">
                <div class="circle-text circle-blue z-depth-3">
                  Intern
                </div>
              </a>
            </div>
        </div>
          <div class="col s4">
            <div class="circle-container">
              <a href="#employers">
                <div class="circle-text circle-yellow z-depth-3">
                  Employer
                </div>
              </a>
            </div>
          </div>
        <div class="col s4">
          <div class="circle-container">
            <a href="/about">
              <div class="circle-text circle-orange z-depth-3">
                About
              </div>
            </a>
          </div>
        </div>
        </div>
      <div class="row">
        <div class="col s12 m6 intern-message" id="interns">
          <h2>Interns</h2>
          <p>
            Internships are available in a wide variety of fields from both the private
            and not-for-profit sectors of the job market. By completing an internship, students will develop the
            knowledge and skills that employers seek in this competitive job market.
          </p>
          <a th:href="@{interns/register}">Interns Register here</a>
        </div>
        <div class="col s12 m6">
          <img class="responsive-img index-img" src="/img/index_intern.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <img class="responsive-img index-img" src="/img/employer_image.jpg" />
        </div>
        <div class="col s12 m6 employer-message" id="employers">
          <h2>Employers</h2>
          <p>Sign-up and have access to the best college interns San Antonio has to offer. Post an internship for free
            on our marketplace.
          </p>
          <a th:href="@{employers/register}">Employers Register here</a>
        </div>
      <div class="divider"></div>

    </div>
    </div>
    <!-- Footer -->
    <!--<footer class="footer page-footer blue">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col l6 s12">-->
            <!--<h5 class="white-text">InternHub.io</h5>-->
            <!--<ul>-->
              <!--<li>-->
                <!--<a class="white-text" href="/about">About</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="white-text" th:href="@{admin/register}">Admin</a>-->
              <!--</li>-->
            <!--</ul>-->

          <!--</div>-->
          <!--<div class="col l4 offset-l2 s12">-->
            <!--<h5 class="white-text">Connect with us!</h5>-->
            <!--<ul>-->
              <!--<li><img class="social-media" src="/../img/facebook.png" alt="Facebook-logo"/><a class="grey-text text-lighten-3"></a>-->
              <!--<img class="social-media" src="/../img/instagram.png" alt="Instagram-logo"/><a class="grey-text text-lighten-3"></a>-->
              <!--<img class="social-media" src="/../img/twitter.png" alt="Twitter-logo"/><a class="grey-text text-lighten-3"></a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="footer-copyright grey darken-4">-->
        <!--<div class="container">-->
          <!--© 2019 InternHub. Copy-written so, don't copy me!-->
          <!--&lt;!&ndash;<a class="grey-text text-lighten-4 right" href="#!">More Links</a>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    <!--</footer>-->

    <footer th:replace="fragments/footer"></footer>

  </body>




