  <head th:replace="fragments/head :: head('Welcome!')" xmlns:th="http://www.w3.org/1999/xhtml">

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>

  <body>
    <div class="container">
      <!-- Page Content goes here  -->
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="/img/index_graduate.jpeg" />
          </li>
          <li>
            <img src="/img/index_handshake.jpg" />
          </li>
          <li>
            <img src="/img/index_fist_bump.jpeg" />
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col s4">
          <div class="circle-container">
            <div class="circle-text">
              Intern
            </div>
          </div>
        </div>
          <div class="col s4">
            <div class="circle-container">
              <div class="circle-text">
                Employer
              </div>
            </div>
          </div>
        <div class="col s4">
          <div class="circle-container">
            <div class="circle-text">
              About
            </div>
          </div>
        </div>
        </div>
      <div class="row">
        <div class="col s6 intern-message">
          <h2>Interns</h2>
          <p>InternHub can connect you with pre-professional exposure where you can gain the required experience to
            get hired in a career field of your interest.
            Internships are available in a wide variety of fields from both the private
            and not-for-profit sectors of the job market. By completing an internship, students will develop the
            knowledge and skills that employers seek in this competitive job market.
          </p>
          <a th:href="@{interns/register}">Interns Register here</a>
        </div>
        <div class="col s6 employer-message">
          <h2>Employers</h2>
          <p>Join InternHub and have access to the best college interns San Antonio has to offer. Post an internship for free
            on our marketplace.
          </p>
          <a th:href="@{employers/register}">Employers Register here</a>
        </div>
      </div>
      <div class="divider"></div>
      <a th:href="@{admin/register}">admin</a>
    </div>



    <!-- Footer -->
    <footer class="footer page-footer blue">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>

          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Find Us!</h5>
            <ul>
              <li><img class="social-media" src="/../img/facebook.png" alt="Facebook-logo"/><a class="grey-text text-lighten-3"></a>
              <img class="social-media" src="/../img/instagram.png" alt="Instagram-logo"/><a class="grey-text text-lighten-3"></a>
              <img class="social-media" src="/../img/twitter.png" alt="Twitter-logo"/><a class="grey-text text-lighten-3"></a>
              </li>
              <!--<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright grey darken-4">
        <div class="container">
          © 2019 Copyright, InternHub
          <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
      </div>
    </footer>

    <footer th:replace="fragments/footer"></footer>
  </body>




